/* Toolbar Icon */
#georapbox-notes-icon {
    background: url(../images/georapbox.notes-icon.svg) no-repeat 0 0;
}
#georapbox-notes-icon.active {
    background: url(../images/georapbox.notes-icon-active.svg) no-repeat 0 0;
}

/* Panel */
/* Panel header */
#georapbox-notes-new-btn {
    font-size: 11px;
    position: absolute;
	top: 2px;
	right: 30px;
    padding: 0px 7px;
    text-transform: uppercase;
    color: #959595;
    cursor: pointer;
}
#georapbox-notes-new-btn:hover {
    background: #ffffff;
}
#georapbox-notes-panel header h1 {
    font-size: 14px;
    padding: 0;
    margin: 0;
    line-height: 1;
}

/* Panel table */
#georapbox-notes-panel table {
    width: 100%;
}
#georapbox-notes-panel table td {
    position: relative;
    padding: 0;
    vertical-align: middle;
}
#georapbox-notes-panel table td.date {
    width: 150px;
    padding: 0 10px;
}
#georapbox-notes-panel table td.note .resize {
    display: block;
    position: absolute;
    top: 12px;
    right: 4%;
    width: 20px;
    height: 20px;
    background: url(../images/georapbox.notes-icon-resize.svg) no-repeat;
    opacity: 0.5;
/*    -webkit-transform: rotate(180deg);*/
    display: none;
}
#georapbox-notes-panel table td.note .resize:hover {
    opacity: 1;
}
#georapbox-notes-panel table td.note textarea {
    width: 96%;
    height: 53px;
    resize: vertical;
    border-radius: 3px;
    padding-right: 1%;
    border: 1px solid #a8a8a8;
    margin-top: 8px;
    color: #333;
    background: #f2f2f2;
    cursor: default;
}
#georapbox-notes-panel table td.note:hover .resize {
    display: block;
}
#georapbox-notes-panel table td.note textarea:focus {
    outline: 2px auto rgba(90,90,90, 0.5);
}
#georapbox-notes-panel table td.note textarea.editable {
    color: #000;
    background: #ffffff;
    cursor: text;
}
#georapbox-notes-panel table td.note textarea.editable:focus {
    outline: 2px auto rgba(66,139,202, 0.7);
}
#georapbox-notes-panel table td.id {
    display: none;
}
#georapbox-notes-panel table td.edit {
    width: 7px;
    padding: 0 10px;
}
#georapbox-notes-panel table td.edit a {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/georapbox.edit.icon.svg) no-repeat 0 0;
    text-indent: -9999px;
    opacity: 0.8;
}
#georapbox-notes-panel table td.edit a:hover {
    opacity: 1;
}
#georapbox-notes-panel table td.delete {
    width: 7px;
    padding: 0 10px;
}
#georapbox-notes-panel table td.delete a {
    display: block;
    font-size: 15px;
    width: 17px;
    height: 17px;
	text-align: center;
    color: #ffffff;
    background-color: #c95353;
    border-radius: 34px;
}
#georapbox-notes-panel table td.delete a:hover {
    text-decoration: none;
    background-color: #ea2020;
}
#georapbox-notes-panel .labelIcon {
    padding: 18px 0 0 0;
    height: 59px;
    color: #ffffff;
    background-color: #428bca;
    border-radius: 3px;
    text-align: center;
    box-sizing: border-box;
}

/* New Note Dialog */
.georapbox-notes-new-note-dialog textarea {
    width: 97%;
    height: 100px;
    resize: vertical;
}

/* Delete Note Dialog */
.georapbox-notes-delete-note-dialog .modal-body div {
    padding: 10px;
    border: 1px solid #cecece;
    border-radius:5px;
    background-color: #d8d8d8;
}